# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-admins

.github                                                                             @itwin/bis-admins
.gitignore                                                                          @itwin/bis-admins

SchemaInventory.json                                                                @iTwin/bis
ignoreSchemaList.json                                                               @itwin/bis-admins
snapshotInformation.json                                                            @itwin/bis-admins

/docs/                                                                              @itwin/bis-admins
/cmaps/                                                                             @itwin/bis-admins
/test/                                                                              @itwin/bis-admins
/tools/                                                                             @iTwin/ec-reviewers

/Domains/                                                                           @iTwin/bis
/Standard/                                                                          @iTwin/bis-core

/Domains/0-Core/                                                                    @iTwin/bis-core
/Domains/1-Common/Grids/                                                            @iTwin/bis-grids
/Domains/1-Common/AecValueDefinitions/                                              @iTwin/bis-core
/Domains/1-Common/ClassificationSystems/                                            @iTwin/bis-core
/Domains/1-Common/DistributionSystems/                                              @iTwin/bis-distributionsystems
/Domains/1-Common/DocumentMetadata/                                                 @iTwin/bis-core
/Domains/1-Common/Grids/                                                	        @iTwin/bis-core @JValiunas
/Domains/1-Common/LinearReferencing/                                                @iTwin/bis-core
/Domains/1-Common/NetworkTopology/                                                  @iTwin/bis-core
/Domains/1-Common/Profiles/                                                         @iTwin/bis-structural-analysis
/Domains/1-Common/SpatialComposition/                                               @iTwin/bis-core

/Domains/2-DisciplinePhysical/Building/BuildingSpatial/                             @JValiunas
/Domains/2-DisciplinePhysical/Civil/                                                @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Civil/BridgePhysical/                                 @iTwin/bis-civil-bridge
/Domains/2-DisciplinePhysical/Civil/BridgeStructuralPhysical/                       @iTwin/bis-civil-bridge
/Domains/2-DisciplinePhysical/Civil/CivilPhysical/                                  @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Civil/LinearlyLocatedAttributions/RoadAttributions/   @iTwin/bis-civil-roads
/Domains/2-DisciplinePhysical/Civil/SpatialComposition/BridgeSpatial/               @iTwin/bis-civil-bridge
/Domains/2-DisciplinePhysical/Civil/SpatialComposition/CivilSpatial/                @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Civil/SpatialComposition/RoadSpatial/                 @iTwin/bis-civil-roads
/Domains/2-DisciplinePhysical/Civil/RoadRailAlignment/                              @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Civil/RoadRailUnits/                                  @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Civil/StormSewerPhysical/                             @iTwin/bis-hydraulics
/Domains/2-DisciplinePhysical/Civil/WaterDistributionPhysical/                      @iTwin/bis-hydraulics
/Domains/2-DisciplinePhysical/Construction/                                         @iTwin/bis-construction
/Domains/2-DisciplinePhysical/Earthwork/                                            @iTwin/bis-terrain
/Domains/2-DisciplinePhysical/Fasteners/                                            @iTwin/bis-structural
/Domains/2-DisciplinePhysical/GeotechnicalExploration/                              @iTwin/bis-geotechnical-exploration
/Domains/2-DisciplinePhysical/IoT/                                                  @iTwin/bis-iot
/Domains/2-DisciplinePhysical/Piping/                                               @iTwin/bis-piping
/Domains/2-DisciplinePhysical/PowerSystemResourcesPhysical/                         @iTwin/bis-powersystems
/Domains/2-DisciplinePhysical/QuantityTakeoffsAspects/                              @iTwin/bis-core
/Domains/2-DisciplinePhysical/Rebar/                                                @iTwin/bis-structural
/Domains/2-DisciplinePhysical/StructuralMaterials/                                  @iTwin/bis-structural
/Domains/2-DisciplinePhysical/StructuralPhysical/*.ecschema.xml                     @iTwin/bis-structural
/Domains/2-DisciplinePhysical/Terrain/                                              @iTwin/bis-terrain
/Domains/2-DisciplinePhysical/Plant/                                                @iTwin/bis-plant

/Domains/3-DisciplineOther/Civil/NetworkTopology/RailNetwork/                       @iTwin/bis-civil-rail
/Domains/3-DisciplineOther/Civil/NetworkTopology/RoadNetwork/                       @iTwin/bis-civil-roads
/Domains/3-DisciplineOther/GeologicalModel/                                         @iTwin/bis-geological-model
/Domains/3-DisciplineOther/Hydraulics/                                              @iTwin/bis-hydraulics
/Domains/3-DisciplineOther/IoT/                                                     @iTwin/bis-iot
/Domains/3-DisciplineOther/StructuralAnalysis/                                      @iTwin/bis-structural-analysis
/Domains/3-DisciplineOther/Unused/StructuralDesign/                                 @iTwin/bis-structural

/Domains/4-Application/BuildingSpacePlanning/                                       @JValiunas
/Domains/4-Application/Connectors/                                                  @iTwin/bis-connectors-core
/Domains/4-Application/Connectors/CivilInfrastructureFramework/                     @iTwin/bis-civil-cifconnector
/Domains/4-Application/Connectors/ConceptStation/                                   @iTwin/bis-civil-csconnector
/Domains/4-Application/Connectors/Navisworks/                                       @iTwin/bis-nwdconnector
/Domains/4-Application/Connectors/OpenBuildingsDesigner/                     	    @JValiunas
/Domains/4-Application/DrawingProduction/                     	                    @iTwin/bis-drawingproduction
/Domains/4-Application/Egress/                                                      @JValiunas
/Domains/4-Application/ISM/                                                         @iTwin/bis-structural-analysis
/Domains/4-Application/OpenSite/                                                    @iTwin/bis-opensite
/Domains/4-Application/Plant/                                                	    @iTwin/bis-plant
/Domains/4-Application/PresentationRules/                                           @grigasp
/Domains/4-Application/Simulation4DResults/                                         @iTwin/bis-construction
/Domains/4-Application/SynchroModeler/                                              @iTwin/bis-construction
/Domains/4-Application/Substation/                                                  @iTwin/bis-substation
/Domains/4-Application/RealityModeling/**/DataCaptureSchema/                        @MarcBedard8

/Domains/1-Common/Unused/                                                           @iTwin/bis-core
/Domains/2-DisciplinePhysical/Unused/                                               @iTwin/bis-core
/Domains/3-DisciplineOther/Unused/                                                  @iTwin/bis-core
/Domains/4-Application/Unused/                                                      @iTwin/bis-core

/Domains/**/Released/*                                                              @iTwin/bis-release-admins
/System/**/Released/*                                                               @iTwin/bis-release-admins
				
