# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-admins

.github                                                       @naveedkhan8067 @ColinKerr
.gitignore                                                    @naveedkhan8067 @ColinKerr

SchemaInventory.json                                          @iTwin/bis
ignoreSchemaList.json                                         @naveedkhan8067 @ColinKerr @christophermlawson
snapshotInformation.json                                      @naveedkhan8067 @ColinKerr @christophermlawson

/docs/                                                        @christophermlawson @naveedkhan8067
/cmaps/                                                       @ColinKerr @naveedkhan8067
/test/                                                        @naveedkhan8067 @ColinKerr
/tools/                                                       @iTwin/ec-reviewers

/Domains/                                                     @iTwin/bis
/Standard/                                                    @iTwin/bis

/Domains/Terrain/                                             @iTwin/bis-terrain
/Domains/Plant/                                               @iTwin/bis-plant

/Domains/Geotechnical/GeoModeler/                             @iTwin/bis-geotechnical-interpretation
/Domains/Geotechnical/GeotechnicalInterpretation/             @iTwin/bis-geotechnical-interpretation
/Domains/Geotechnical/GeotechnicalExploration/                @iTwin/bis-geotechnical-exploration

/Domains/StructuralAnalysis/                                  @iTwin/bis-structural-analysis
/Domains/Profiles/                                            @iTwin/bis-structural-analysis
/Domains/StructuralDesign/                                    @iTwin/bis-structural-design-concrete

/Domains/Core/                                                @iTwin/bis-core
/Domains/DocumentMetadata/                                    @iTwin/bis-core
/Domains/PresentationRules/                                   @grigasp

/Domains/Construction/                                        @daurak
/Domains/FederatedDocumentStore/                              @daurak
/Domains/Simulation4DResults/                                 @daurak @mrserg71

/Domains/NetworkTopology/                                     @iTwin/bis-core

/Domains/Civil/                                               @iTwin/bis-civil-core
/Domains/Civil/BridgePhysical/                                @iTwin/bis-civil-bridge
/Domains/Civil/BridgeStructuralPhysical/                      @iTwin/bis-civil-bridge
/Domains/Civil/CivilPhysical/                                 @iTwin/bis-civil-core
/Domains/Civil/Connectors/CivilInfrastructureFramework/       @iTwin/bis-civil-cifconnector
/Domains/Civil/Connectors/ConceptStation/                     @iTwin/bis-civil-csconnector
/Domains/Civil/LinearlyLocatedAttributions/RoadAttributions/  @iTwin/bis-civil-roads
/Domains/Civil/NetworkTopology/RailNetwork/                   @iTwin/bis-civil-rail
/Domains/Civil/NetworkTopology/RoadNetwork/                   @iTwin/bis-civil-roads
/Domains/Civil/SpatialComposition/BridgeSpatial/              @iTwin/bis-civil-bridge
/Domains/Civil/SpatialComposition/RoadSpatial/                @iTwin/bis-civil-roads
/Domains/Civil/RoadRailAlignment/                             @iTwin/bis-civil-core
/Domains/Civil/RoadRailUnits/                                 @iTwin/bis-civil-core

/Domains/Earthwork/                                           @iTwin/bis-terrain

/Domains/Rebar/                                               @iTwin/structural
/Domains/Fasteners/                                           @iTwin/structural
/Domains/StructuralMaterials/                                 @iTwin/structural
/Domains/StructuralPhysical/*.ecschema.xml                    @iTwin/structural

/Domains/Grids/                                               @iTwin/grids
/Domains/ClassificationSystems/                               @JValiunas
/Domains/BuildingSpatial/                                     @JValiunas
/Domains/SpatialComposition/                                  @JValiunas
/Domains/QuantityTakeoffsAspects/                             @JValiunas
/Domains/Egress/                                              @JValiunas
Domains/DistributionSystems/                                  @iTwin/bis-distributionsystems
Domains/BuildingSpacePlanning/                                @JValiunas

/Domains/RealityModeling/**/DataCaptureSchema/                @MarcBedard8

/Domains/**/Released/*                                        @iTwin/bis-release-admins
/Standard/**/Released/*                                       @iTwin/bis-release-admins
				
