# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-admins

.github                                                       @naveedkhan8067 @ColinKerr
.gitignore                                                    @naveedkhan8067 @ColinKerr

SchemaInventory.json                                          @christophermlawson @naveedkhan8067 @ColinKerr
ignoreSchemaList.json                                         @naveedkhan8067 @ColinKerr @christophermlawson
snapshotInformation.json                                      @naveedkhan8067 @ColinKerr @christophermlawson

/docs                                                         @christophermlawson @naveedkhan8067
/cmaps                                                        @ColinKerr @naveedkhan8067
/test                                                         @naveedkhan8067 @ColinKerr
/tools                                                        @iTwin/ec-reviewers

/Domains/                                                     @iTwin/bis
/Standard/                                                    @iTwin/bis

/Domains/Terrain/                                             @iTwin/bis-terrain
/Domains/Plant/                                               @iTwin/bis-plant

/Domains/Geotechnical/GeoModeler/                             @iTwin/bis-geotechnical-interpretation
/Domains/Geotechnical/GeotechnicalInterpretation/             @iTwin/bis-geotechnical-interpretation
/Domains/Geotechnical/GeotechnicalExploration/                @iTwin/bis-geotechnical-exploration

/Domains/StructuralAnalysis/                                  @iTwin/bis-structural-analysis
/Domains/Profiles/                                            @iTwin/bis-structural-analysis
/Domains/StructuralDesign/                                    @iTwin/bis-structural-design-concrete

/Domains/Core/                                                @ColinKerr
/Domains/PresentationRules/                                   @grigasp

/Domains/Construction/                                        @daurak
/Domains/FederatedDocumentStore/                              @daurak
/Domains/Simulation4DResults/                                 @daurak @mrserg71

/Domains/NetworkTopology/                                     @diegoalexdiaz
/Domains/Earthwork/                                           @diegoalexdiaz
/Domains/Civil/                                               @diegoalexdiaz
/Domains/Civil/BridgeStructuralPhysical/                      @saeidbama

/Domains/Rebar/                                               @jchick-bentley
/Domains/Fasteners/                                           @jchick-bentley
/Domains/StructuralMaterials/                                 @jchick-bentley
/Domains/StructuralPhysical/*.ecschema.xml                    @jchick-bentley

/Domains/Grids/                                               @JValiunas
/Domains/ClassificationSystems/                               @JValiunas
/Domains/BuildingSpatial/                                     @JValiunas
/Domains/SpatialComposition/                                  @JValiunas
/Domains/QuantityTakeoffsAspects/                             @JValiunas
/Domains/Egress/                                              @JValiunas
Domains/DistributionSystems/                                  @JValiunas
Domains/BuildingSpacePlanning/                                @JValiunas

/Domains/RealityModeling/**/DataCaptureSchema/                @MarcBedard8

/Domains/**/Released/*                                        @iTwin/bis-release-admins
/Standard/**/Released/*                                       @iTwin/bis-release-admins
				